
# Category: Aerothermodynamic

 ICE_RECOVERY_FACTOR 0.9
 ICE_REF_AIR_PRESSURE 101.325
 ICE_REF_TEMPERATURE -13.15
 ICE_REF_VELOCITY 50
 ICE_TEMPERATURE -13.15

# Category: GUI

 GLB_GUI_USE_APPENDIX_C 0
 GLB_GUI_USE_APPENDIX_C_LWC_FACTOR 0
 GLB_GUI_USE_APPENDIX_D 0
 GLB_GUI_USE_APPENDIX_D_TWC_FACTOR 0
 GLB_GUI_USE_APPENDIX_O 0
 GLB_GUI_USE_APPENDIX_O_LWC_FACTOR 0
 ICE_GUI_ALE_METHOD 2
 ICE_GUI_ALE_SUBITERATIONS 5
 ICE_GUI_DISPLACEMENT_MODE 4
 ICE_GUI_FM_TEMPLATE Default
 ICE_GUI_GENERATE_DISPLACED_MESH 1
 ICE_GUI_POST_SMOOTHING_ITER 0
 ICE_MACH_NUMBER 1.5468e-01
 ICE_REYNOLDS_NUMBER 1.7714e+06

# Category: Physical model

 ICE_DROP_DIAM 20.00000000
 ICE_EMISSIVITY 1.0e-08
 ICE_GUI_BODY_FORCES 0
 ICE_GUI_FLUID_TYPE 0
 ICE_LIQ_H2O_CONTENT 1.00000e-03
 ICE_REL_HUMID 1

# Category: Fluid properties

 ICE_H2O_CP 4226.000000
 ICE_H2O_DENSITY 1000.000000
 ICE_H2O_VISCOSITY 0.001794
 ICE_ICE_CONDUC 0
 ICE_ICE_CP 2070
 ICE_ICE_DENSITY 917
 ICE_LAT_HEAT_EVAPOR 2500000
 ICE_LAT_HEAT_FUSION 334000
 ICE_LAT_HEAT_SUBLIM 2834000
 ICE_VARIABLE_DENSITY 0

# Category: Crystals

 ICE_CRYSTAL_COEFFICIENT 10 0 0 0.05 0 0.12 0.43 0.2 0.43 0.32 0
 ICE_CRYSTAL_CONTENT 0.003
 ICE_DEPOSITION_VARIANT 1

# Category: Numerical

 ICE_AUTOMATIC_TIME_STEP 1
 ICE_BC_SINK 0
 ICE_BEAD_FLAG 1
 ICE_CHARAC_LENGTH 0.431
 ICE_FLUX_CHOICE 1
 ICE_FREEZING_FRACTION -1
 ICE_GROWTH_DIRECTION 1
 ICE_GUI_CONCAVITY_FIX_FLAG 1
 ICE_GUI_GRID_OUTPUT_FLAG 1
 ICE_GUI_INITIAL_TIME 195
 ICE_GUI_TOTAL_TIME 60.0000
 ICE_MIN_CONCAVE_ANGLE 70
 ICE_MODEL_BEAD 1
 ICE_NB_SINK 0
 ICE_NUMBER_TIME_STEP 60000
 ICE_SHAPE_SMOOTHING_ITERATIONS 0
 ICE_SURFACE_THICKNESS_METHOD 1
 ICE_TIME_STEP 0.001
 ICE_WRITE_SURFACE_ROUGHNESS_FILE_FLAG 5

# Category: Stress solver

 SMC_FILL_IN_ALLOWED_IN_PRECONDITIONING_MATRIX 1 3
 SMC_PRECONDITIONER 1 1

# Category: Printout

 ICE_GUI_NUMBERED_OUTPUT 0
 ICE_GUI_TIME_BETWEEN_OUTPUT 420
 ICE_IPS_LOAD 0
 ICE_OUTPUT_FORMAT 1
 ICE_TIME_STEP_BETWEEN_OUTPUT 420000

# Category: Files

 ICE_AIR_FILE soln.fensap.000005
 ICE_ANTI_ICING_FILE NULL
 ICE_CHT3D_FORMAT 1
 ICE_CONVERGENCE_FILE iceconv.dat.ice.000005
 ICE_CRYSTAL_FILE crystal.drop.000005
 ICE_DISPLACED_GRID_FILE grid.ice.000006
 ICE_DROPLET_FILE droplet.drop.000005
 ICE_FORCE_FILE NULL
 ICE_GRID_FILE grid.ice.000005
 ICE_GUI_MULTISHOT_USE_RESTART_FILE 3
 ICE_GUI_USE_FORCE_FILE 0
 ICE_GUI_USE_RESTART_FILE 1
 ICE_INPUT_FORMAT 1
 ICE_LOG_FILE swim.log.ice.000005
 ICE_OUTPUT_BC timebc.dat.ice.000005
 ICE_OUTPUT_GRID ice.grid.ice.000005
 ICE_OUTPUT_MAP map.grid.ice.000005
 ICE_OUTPUT_STL ice.ice.000005.stl
 ICE_OUTPUT_TIN ice.ice.000005.tin
 ICE_RESTART_FILE swimsol.ice.000004
 ICE_RESTART_FILE_DISP ice.grid.ice.000004
 ICE_SOLUTION_FILE swimsol.ice.000005
 ICE_SURFACE_ROUGHNESS_FILE roughness.dat.ice.000005

# Category: Other

 ICE_AIR_CP 1005
 ICE_BOLTZMANN 0.567000E-07
 ICE_TIME_SCHEME 0

# Category: Boundary conditions

 FSP_BC_SUBTYPE 3 2 0 0
 FSP_GUI_BC_SCREEN_MODE 3 0 1 0
 FSP_GUI_BC_SURFACE_TYPE_FLAG 3 0 0 0
 FSP_QD 3 0 0 0
 FSP_QSWIT 3 0 1 0
 FSP_TS 3 260 0 0
 FSP_WIRE_SPACING 3 0 0 0
 ICE_BC_FAMILY 0
 ICE_GRID_FILE_WALL_ZONES 0
 ICE_GUI_BCLIST 3 1000 2000 4300
 ICE_GUI_BCWALL_FLAG 3 0 1 0
 ICE_GUI_BCWALL_HFLUX_FLAG 3 0 0 0
 ICE_GUI_BC_COLORS_B 3 53 128 255
 ICE_GUI_BC_COLORS_G 3 53 128 0
 ICE_GUI_BC_COLORS_R 3 255 128 0
 ICE_GUI_BC_HFLUX 3 "" "" ""
 ICE_GUI_BC_NAMES 3 "BC_1000" "BC_2000" "BC_4300"
 ICE_GUI_CONDITIONS_COPIED 1
 ICE_GUI_MATLIST 0
 ICE_GUI_SEQ_TYPE MULTI-FENSAPDROPICE
 ICE_GUI_WALL_OMX_DETECTED 3 0 0 0
 ICE_GUI_WALL_OMY_DETECTED 3 0 0 0
 ICE_GUI_WALL_OMZ_DETECTED 3 0 0 0
 ICE_GUI_WALL_OM_MAGNITUDE 3 1 1 1
 ICE_GUI_WALL_ROTATION_TYPE 3 0 0 0
 ICE_ITYP 3 1000 2000 4300
 ICE_NB_FAMILY 0
 ICE_OM_CENT_X 3 0.00000000e+00 0.00000000e+00 0.00000000e+00
 ICE_OM_CENT_Y 3 0.00000000e+00 0.00000000e+00 0.00000000e+00
 ICE_OM_CENT_Z 3 0.00000000e+00 0.00000000e+00 0.00000000e+00
 ICE_TOT_BOUNDARY_CONDITIONS 3
 ICE_WALL_CONDUCTIVITY 3 0 0.00000000e+00 0
 ICE_WALL_INTERNAL_TEMPERATURE 3 0 0.00000000e+00 0
 ICE_WALL_OMX 3 0.00000000e+00 0.00000000e+00 0.00000000e+00
 ICE_WALL_OMY 3 0.00000000e+00 0.00000000e+00 0.00000000e+00
 ICE_WALL_OMZ 3 0.00000000e+00 0.00000000e+00 0.00000000e+00
 ICE_WALL_THICKNESS 3 0 0.00000000e+00 0

# Category: External solver parameters

 FSP_MESH_MORPH_SWITCH 2
 ICE_GUI_NCPU_MESHING 10
 ICE_GUI_REMESHING_OPTION 0

# Category: Undefined

 ICE_FILE_GRID_TIMESTAMP 676595280
 ICE_INPUT_FILE_VERSION 202

