
# Category: Global

{{ FSP_CFG_GLOBAL }}

# Category: Files

{{ FSP_CFG_FILES }}

# Category: Grid GUI metadata

{{ FSP_CFG_GUI }}

# Geometrical characteristics

{{ FSP_CFG_GEOMETRY }}

# Parameters for time-accurate scheme

{{ FSP_CFG_NUMERICS }}

# Parameter cycles

{{ FSP_CFG_CYCLES }}

# Solution strategies

{{ FSP_CFG_SOLUTION }}

# Equations parameters

{{ FSP_CFG_EQUATIONS }}

# Reference conditions AIR

{{ FSP_CFG_AIR }}

# Reference conditions DROPLET

{{ FSP_CFG_DROPLET }}

# Imposed velocities for AIR

{{ FSP_CFG_VELOCITY }}

# Gravity and rotation

{{ FSP_CFG_GRAVITY }}

# Boundary conditions

{{ FSP_CFG_BOUNDARY }}

# Boundary conditions settings

{{ FSP_CFG_ }}

# Boundary conditions DROP

{{ FSP_CFG_ }}

# Screen icing

{{ FSP_CFG_ }}

# Materials

{{ FSP_CFG_ }}

# Iterative solver control parameters

{{ FSP_CFG_ }}

# Energy solver control parameters

{{ FSP_CFG_ }}

# Turbulence solver control parameters

{{ FSP_CFG_ }}

# Turbulence

{{ FSP_CFG_ }}

# ALE

{{ FSP_CFG_ }}

# Message printing

{{ FSP_CFG_ }}

# Lift and moment reference point

{{ FSP_CFG_ }}

# Droplet parameters

{{ FSP_CFG_ }}

# Ice crystal parameters

{{ FSP_CFG_ }}

# Probes

{{ FSP_CFG_ }}

# FS

{{ FSP_CFG_ }}

# Category: Turbomachinery

{{ FSP_CFG_ }}

# Category: Undefined

{{ FSP_CFG_ }}
